@charset "utf-8";

a,a:visited{ color:#024EFD; text-decoration: none; cursor:pointer; }
a:hover{ cursor:pointer; color:#9A3103; text-decoration: underline; }

body { font-family: Tahoma, Arial, Verdana, sans-serif; font-size: 11px; line-height: 17px; font-weight: normal; color: #444444; text-decoration: none; margin: 0px; padding: 0px; text-align:center}
input{ font-size:11px;}
td{ padding:3px}
.clr{ clear:both; }
.fl{ float:left; }
.fr{ float:right; }


#container { padding-left:10px; padding-right:10px}
#header { margin-top:10px;}
#header .left {float:left;width:11px; height:54px; background:url(../images/header_left.png)} 
#header .mid {height:54px; background:url(../images/header_middle.png); text-align:left; color:#FFFFFF} 
#header .logo { float:left; width:300px; font-size:20px; color:#FFFFFF; padding-top:13px; margin-left:20px }
#header .right { float:right; width:11px; height:54px; background:url(../images/header_right.png)} 

#menu, #menu ul, #menu li { margin: 0; padding: 0; border: 0 none; }
#menu  {border-bottom:1px solid #CCC; height:25px; background:#F0F0F0 }
#menu .mess {float:right; width:250px;  margin-right:20px; text-align:right }
#menu .mess .logout { background:url(../images/icon-16-logout.png) left top no-repeat; padding-left:20px; padding-right:10px; }
#menu .mess .user { background:url(../images/icon-16-user.png) left top no-repeat; padding-left:20px; padding-right:10px }
#menu .mess .article { background:url(../images/icon-16-article.png) left top no-repeat; padding-left:20px; padding-right:10px }
#menu .mess .frontpage { background:url(../images/icon-16-frontpage.png) left top no-repeat; padding-left:20px; padding-right:10px }

#menu li {
	float:left;  position:relative; list-style: none; display: inline;
	border-left: 1px solid #fff;
	border-right: 1px solid #d8d8d8;
	padding-top:5px
}
#menu ul    { border: 0.1em solid #ccc; }


#body {border:1px solid #CCC; padding-bottom:100px; text-align:left }
#footer{ color:#000000; text-align:center; padding-top:20px;}

#menu .item{
	font-size: 11px;
	font-weight: 700;
	padding-left: 15px;
	padding-right: 10px;
	color:#333333;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;}


#login { width:500px; margin-left:auto; margin-right:auto; margin-top:50px; text-align:left}
#login .top { background:url(../images/top_border.png); height:8px;}
#login .bot { background:url(../images/bot_border.png);height:8px;}
#login .content { border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC;
				 padding-top:10px; padding-bottom:10px; padding-left:20px; padding-right:20px;}
				 
#login  h1 {color:#1F49F1; font-size:18px; font-weight:bold}


.frmLogin {width:320px; float:right; margin-left:10px;}
.frmLogin ._top { background:url(../images/top_border2.png); height:9px;}
.frmLogin ._bot { background:url(../images/bot_border2.png); height:9px;}
.frmLogin ._content {border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC;}
.frmLogin .p { padding-bottom:5px; padding-top:5px;}
.frmLogin .text { width:120px; float:left; text-align:right;color: #666;
				font-weight: bold; display:block; margin-left:20px; margin-right:20px; clear:both;}				
.frmLogin .input{ width: 120px; border:1px solid #CCC }
.frmLogin .bt{ width: 150px; float:right; margin-right:10px; }
.frmLogin .bt .button{float:right;  border:none; background:url(../images/button1_left.png); height:26px; padding-left:10px;  font-weight:500; cursor:pointer}
.frmLogin .bt .rightbutton{ float:right; width:26px; height:26px; display:block; background:url(../images/button1_next.png);}

.error { border-top:3px solid #F35E43;  border-bottom:3px solid #F35E43; padding-top:10px; padding-bottom:10px; padding-left:30px; 
		 font-weight:700; color:#A61B02; background:#E7C0C0 url(../images/notice-alert.png) left no-repeat; margin-bottom:5px; }
.success{ border-top:3px solid #58BEBC;  border-bottom:3px solid #58BEBC; padding-top:10px; padding-bottom:10px; padding-left:30px; 
		 font-weight:700; color:#fff; background: #B5EF7A url(../images/icon_32_backup.png) left no-repeat ;margin-bottom:5px;}
		 

#groupIcon { float:left }
.icon { float:left; border:1px #e0e0e0 solid;padding:5px;margin:5px;max-height:150px;_height:150px; text-align:center; width:100px; max-width:100px}

.icon a,.icona:visited{border:none; font-family:Arial, Helvetica, sans-serif; 
			font-size:11px; color:#454545;text-decoration:none;}
.icon a:hover{border:none; font-family:Arial, Helvetica, sans-serif; 
			font-size:11px; color:#1487BE;text-decoration:none;}
#news { float:right; width:540px; margin-left:20px; margin-right:20px; }
#news .section{font-size:10px; color:#676767; margin-top:5px}
#news .header_close { background:url(../images/j_arrow.png) left  no-repeat #F6F6F6; padding-left:15px; 
					font-size:12px;font-weight:600; color:#7E7E7E; border:1px solid #ccc; padding-bottom:3px; padding-top:3px ;cursor:pointer} 
#news .header_open { background:url(../images/j_arrow_down.png)  left  no-repeat #F6F6F6; padding-left:15px;
 					font-size:12px;border:1px solid #ccc;font-weight:600; color:#7E7E7E; border:1px solid #ccc; padding-top:3px ; padding-bottom:3px; cursor:pointer} 
#news table { border-left:1px solid #ccc}
#news td{ border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:3px}	
#news  .title{ background:#f0f0f0; font-size:11px; font-weight:700;}		

#toolbar {height:1%; margin:10px;}	
.tl{ background:url(../images/j_crn_tl_light.png) left top; width:6px; height:6px; float:left}	
.tr{ background:url(../images/j_crn_tr_light.png) left top; width:6px; height:6px; float:right}
.tm{  height:6px;background:url(../images/j_border.png) left top repeat-x; display:block; }
.mid{ border-left:1px solid #CDCDCD ;  border-right:1px solid #CDCDCD; padding-left:10px; padding-right:10px;}
.bl{ background:url(../images/j_crn_bl_light.png) left top; width:6px; height:6px; float:left}	
.br{ background:url(../images/j_crn_br_light.png) left top; width:6px; height:6px; float:right}
.bm{  height:6px;;background:url(../images/j_border.png) left bottom repeat-x; display:block}	
#toolbar .title{ float:left; width:400px; font-size:20px; font-weight:700; color:#1F7BC7; background-repeat:no-repeat; padding-left:55px; padding-top:10px; margin-left:10px; margin-top:10px; height:40px }
#toolbar .subTitle{ font-size:16px; font-weight:400; color:#1F7BC7;}	
#toolbar .icon{ float:right; margin-right:3px; width:50px; width-max:50px; text-align:center; border:none}	


.icon_user{ background-image:url(../images/icon-48-user.png);}
.icon_article{ background-image:url(../images/icon-48-article.png);}
.icon_stats{ background-image:url(../images/icon-48-stats.png);}
.icon_database{ background-image:url(../images/icon-48-trash.png);}
#listItem { height:1%}

#listItem .list { margin-top:10px;}
#listItem .list table {border-top:1px solid #ccc; border-left:1px solid #ccc;}
#listItem .list td{ border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:3px}	
#listItem .title{ background:#f0f0f0; font-size:11px; font-weight:600}	
.title{font-size:11px; font-weight:600; color:#5D5D5D}
.correct { color:#02A206}
.incorrect { color:#FF0000}
.h1 { font-size:16px; color:#1A4BD0; font-weight:600}
.name {color:#4553FC; font-size:11px}